@font-face {
    font-family: Almoni;
    src: url("fonts/AAA\ Almoni\ Tzar-regular.otf");
}

* {

    direction: rtl;
}
html {
    width: 100%;
    height: 100%;
}

body {
    direction: rtl;
    font-family: Almoni;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: right;
}

.navbar {
    font-size: 1.2em;
    width: 100%;
    height:3.5em;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 13px , solid , black;
    background-color: white;
    box-shadow: 0px 0px 1px 2px rgb(0 0 0 / 20%);    
}

#Humburger {
    width: 2.5em;
}
.icon {
    width: 8em;
    margin-right: auto;
    transition: height, 0.5s;
}

.icon:hover {
    width: 9em;
}

.menuOpacity {
    opacity: 1 !important;
}
#menu {
    opacity: 0;
    color: white;
    position: absolute;
    z-index: 1;
    right: 0em;
    top: 4em;
    height: 0;
    width: 100%;
    transition: height 3s;
}


.gdudim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1d2124e6;
    height: 0;
    font-size: 0;
    border-top: 2px solid white;
    transition: height 1s;
}

.open {
    font-size: 1.5em;
    height: 2em;
}

.Head {
    /* box-shadow: 0px 6px 1px 0px rgb(0 0 0 / 20%); */
    box-shadow: 0px 4px 1px 0px rgb(0 0 0 / 20%);
    /* display: none; */
    /* animation-delay: 2s;
    animation:slideInDown ; /* referring directly to the animation's @keyframe declaration */
    /* animation-duration: 2s; don't forget to set a duration! */ 
    direction: rtl;
    text-align: center;
    color: black;
    font-size: 2em;
    background-image: url("Pictures/Header-background3.png");
    width: 100%;
    height: 8em;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 0.1em; */
    /* background-position: top left; */
}

#headid {
    transition: opacity 1s;

}

.head-title {
    padding-top: .5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 2.3em;
    font-weight: bold;

}

.head-title p {
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.head-title img {
    height: 100%;
    margin-bottom: .25em;
}

.head-text {
    font-weight: bold;
    margin-top: -0.4em;
}

#head-explanation{
    text-align: right;
    font-size: 0.8em;
    width: 12em;
    margin-right: 0.3em;
    margin-top: 0.5em;
}

.Numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.Numbers div {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 1.3em;
}

.Numbers span {
    font-weight: bold;
}

#scrolling {
    background-color: blueviolet;
    width: 100%;
    height: 5em;
    margin-top: 42em;
}

.dashed-div {
    height: .5em;
    border-top:1.5px dashed black;
    border-bottom:1.5px dashed black;
}

.generic p {
    font-size: 1.3em;
    text-align: center;
}



