@font-face {
    font-family: Almoni;
    src: url("fonts/AAA\ Almoni\ Tzar-regular.otf");
}

* {

    direction: rtl;
    box-sizing: border-box;
    scroll-margin: 4.9em;
}

html {
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family: Almoni;
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
    text-align: right;
    margin: 0;
}

#dashed-top {
    margin-top: 0.3em;
    /* background-color: white !important; */
}
.navbar {
    box-sizing: border-box;
    font-size: 1.2em;
    width: 100%;
    height:3.5em;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: 13px , solid , black;
    /* background-color: white; */
    background-color: rgba(255,255,255,0.8);
    /* box-shadow: 0px 0px 1px 2px rgb(0 0 0 / 20%);     */
    box-shadow: 0 5px 9px rgb(0 0 0 / 15%);
}

#Humburger {
    width: 2.5em;
    margin-right: 1.5em;
}
.icon {
    width: 8em;
    margin-left: 1em;
    transition: height, 0.5s;
}

.icon:hover {
    width: 9em;
}

.menuOpacity {
    opacity: 1 !important;
}

#menu {
    /* opacity: 0; */
    color: white;
    position: absolute;
    z-index: 1;
    right: 0em;
    top: 4rem;
    height: 0;
    width: 100%;
    transition: height 0.3s;
    position: fixed;
    font-size: 1.5em;
    overflow: hidden;
    /* display: none; */
}

#menu.open {
    height: 10em;
}

.gdudim {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1d2124e6;
    height: 2em;
    border-top: 2px solid white;
    transition: height 0.3s ease-in-out;
}

.open {
    /* font-size: 1.5em;
    height: 2em; */
    /* display: block; */
}


#allWeb {
    padding-top: 4.2em;
}

.head-wrapper {
    background-color: rgb(239, 243, 255);
    /* background-color: rgb(226 226 226); */
    padding: 2em 1em;

    margin-bottom: 0.5em;
}

.Head {
    box-shadow: 0px 4px 1px 0px rgb(0 0 0 / 20%);
    direction: rtl;
    text-align: right;
    color: black;
    font-size: 1.75em;
    height: 7em;
    width: 12em;
    max-width: 100%;
    margin: auto;
    border-radius: .5em;
    /* background-image: url("Pictures/Header-background2.png"); */
    background-image: url("Pictures/background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#headid {
    transition: opacity 1s;

}

.inner-head {
    border-radius: .5em;
    height: 100%;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.25); */

    background-color: rgb(132 137 172 / 50%);
    background-color: #544c4273;
}

.head-all {
    margin: auto;
    height: 75%;
    width: 65%;
    /* min-width: 8em; */
    min-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.head-title {
    padding-top: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3em;
    font-weight: bold;

}

.head-title p {
    font-size: 1.1em;
    display: flex;
    padding-top: 0.6em;
    align-items: center;
    text-shadow: 0px 2px 1px black;
}

.head-text {
    font-weight: bold;
    text-shadow: 0px 2px 1px black;
}

#head-explanation{
    font-size: 0.85em;
    margin: 0;
    margin-top: 0.2em;
    /* text-shadow: 1px 1px 1px #ad9999; */

    /* text-shadow: 0px 2px 1px black; */
    text-shadow: 1px 2px 1px black;
    padding: 0.1em 0.3em;
}

.Numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
    /* background-color: rgb(255 240 240); */
    background-color:rgb(255 220 220);

    background-image: url("Pictures/back-red.jpg");
    /* background-size: contain; */
    align-content: space-around;
    justify-content: space-around;

    margin-bottom: 1em;
}

.Numbers > div {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 1.3em;

    /* background-color: white; */
    color: white;
    width: 46%;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: .5em .1em;
    text-shadow: 2px 3px 1px black;
    background-color: #544c4273;
}

.Numbers > div> p {
    margin: 0;
}

.number {
    display: inline-block;
    width: fit-content;
    border-bottom:2px solid #763a3f;
    border-bottom:2px solid white;

    margin: 0;
}

#scrolling {
    background-color: blueviolet;
    width: 100%;
    height: 5em;
    margin-top: 42em;
}

.dashed-div {
    height: .5em;
    border-top:1.5px dashed black;
    border-bottom:1.5px dashed black;
}

.title-Materials {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1.5em;
}

.background-title {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    /* text-shadow: 2px 4px 3px rgba(0,0,0,0.3); */
    padding: 0.4em;
    font-size: 1.5em;
    font-weight: bold;
    /* text-shadow: 2px 2px 3px rgb(0 0 0 / 30%); */
    /* color: brown; */
    /* text-shadow: -2px 2px 0px rgb(0 0 0 / 46%); */
    height: 100%;
    background-size: 100% 100%;
    /* background-color:rgb(255 220 220); */

}

#title-lahav{
    background-image: url("Pictures/dekel.png");
    background-size: contain;
}

#title-nashon {
    background-image: url("Pictures/תמונה1.png");
}

#title-maoz {
    background-image: url("Pictures/maoz-back.png");
    background-size: 100%;
}

#title-gefen {
    background-image: url("Pictures/גפן.png");
    background-size: cover;

}

.generic-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-div {
    margin: 0.5em;
    max-width: 85%;
    width: 16em;
    font-size: 2.5em;
    color: black;
    /* border: 1px solid black; */
    margin-top: 0.5em;
    height: 6em;
    box-shadow: 3px 8px 8px 3px rgb(0 0 0 / 20%);
    border-radius: 21px;
    margin-bottom: 1em;
}

.card-a{
    color: black;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    padding-top: 1em;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0.2em; */
    align-items: center;
    text-shadow: 2px 1px 1px #a3a3a3;
    /* text-decoration: none; */
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a:link {
    text-decoration:none;
}

a:visited {
    text-decoration: none;
}

.card-a :active {
    color: pink;
}

.card-text {
    padding: 0.6em 0.1em;
    font-size: .6em;
    text-shadow: none;
    font-weight: 100;
    /* display: flex; */
    height: 61%;
    align-items: center;
    width: 100%;
    color: white;
    border-bottom-left-radius: 18px;
    justify-content: center;
    border-bottom-right-radius: 18px;
    background-color: rgb(72 59 59 / 53%);
}

/* cards background */

#Instagram{
    background-image: url("Pictures/Instagram-new-logo.jpg");
    background-size: cover;
    background-position: center;
    /* background-position-x: 0.5em; */
    /* background-position-y: 0.4em; */
    background-repeat: no-repeat;
    /* background-color: #ffdcdc; */
}

#Instagram img {
    display: inline-block;
    width: 27%;
    margin-left: -1em;
}
#nivutim {
    background-image: url("Pictures/nivut.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}

#posh {
    background-image: url("Pictures/תמונה4.png");
    background-size: contain;
}

#youtube-chanel {
    /* background-image: url("Pictures/yyy2.png"); */
    background-image: url("Pictures/Instagram-new-logo.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-x: 0.1em; */
    /* background-position-y:1.5em; */
    /* background-color: #ffdcdc; */
}

#youtube-chanel img {
    display: inline-block;
    width: 34%;
    /* display: none; */
    /* margin-right: 1em; */

}

#hatkafa {
    background-image: url("Pictures/hatkafa4.jpg.png");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

#hagana {
    background-image: url("Pictures/hagana1.png");
    background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

#war {
    background-image: url("Pictures/war.png");
    background-size: cover;
}

#tahkir {
    background-image: url("Pictures/tahkir.jpg");
    background-size: cover;
}

#betihoot {
    background-image: url("Pictures/betihoot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#mishpat {
    background-image: url("Pictures/mishpat3.png");
    background-size: cover;
    background-position: center;

}

#lehavot {
    background-image: url("Pictures/hotzev.jpg");
    background-size: cover;
}

#tree {
    background-image: url("Pictures/tree.jpg");
    background-size: cover;
    background-position: center;
}

#classes {
    background-image: url("Pictures/classes.png");
    background-size: cover;

}

.treeChapters {
    width:30%;
    display: inline-block;
}

.treeChapters a {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn, .treeChapters {
    width: 31%;
    padding: 0.5em;
    height: 85%;
    background-color: #1d2f55;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 9px;  
    text-decoration: none;  
}

.treeChapters{
    width: 26%;
    height: 78%;
    background-color: #208033;
}

.btn a{
    color: white;
}

#btn-war, #treeid {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#all-btn {
    width: 100%;
    background-image: url("Pictures/hotzev.jpg");
    background-size: cover;
    background-position: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
}

.hotzev-btn {
    font-size: 1.5em;
    background-color:#0c4c58db;;
    width: 80%;
    height: 3em;
    margin-bottom: 2em;
}

.hotzev-btn a{
    color: white;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

